
#Navbar {
    background-color: black;
    transition: height 0.3s ease;
}

ul {
    list-style-type: none;
    padding: 5px 0 5px 5px;
    margin: 0;
}

.navItem {
    display: inline;
    margin-right: 20px;
    height: 30px;
}

.navItem a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: font-size 0.3s ease;
}

.navItem a:hover {
    text-decoration: underline;
    font-size: 20px;
}

.navItem a.active {
    font-weight: bold;
}